#modal_window:target {
    display: block;
}
#modal_window_2:target {
    display: block;
}

#modal_window, #modal_window_2 {
    background: rgba(102, 102, 102, 0.68);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999999999;
}

.window {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 400px;
    border-radius: 20px;
    padding: 1em 2rem 0;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
}

div#main_text a.close_window {
    position: absolute;
    right: 10px;
    top: 4px;
    border: none;
}

.wnd-hd {
  text-align: center;
  background-color: #cbbc97;
  color: white;
  font-weight: bold;
  font-size: 170%;
  border-radius: 20px;
}
.wnd-bt {
  padding: 0.5rem 9rem;
  background-color: #81979b;
  color: white;
  border-radius: 35px;
  transition: 0.5s;
  font-weight: bold;
  border: none;
}
.wnd-bt:hover {
  background-color: #9dafb3;
  color: #FFEFDF;
}
.wnd-cl {
  padding: 0.5rem 1.8rem;
  height: 2.5rem;
  background-color: #5e3639;
  color: white;
  border-radius: 0 35px 35px 0;
  transition: 0.5s;
  font-weight: bold;
  border: none;
}
.wnd-cl:hover {
  background-color: #80494c;
  color: #FFEFDF;
}
.mod {
  margin-top: 2rem;
  margin-left: 0.475em;
}
.in_wnd {
    padding: 0.5rem 4.5rem;
    border-radius: 25px;
    border-color: #a9bcc2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wnd-bt2 {
  padding: 0.5rem 9rem;
  background-color: #81979b;
  color: white;
  border-radius: 35px;
  transition: 0.5s;
  font-weight: bold;
  border: none;
  position: relative;
  top: -2rem;
}
.wnd-bt2:hover {
  background-color: #9dafb3;
  color: #FFEFDF;
}
.dop1 {
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
  margin-right: 1.5rem;
}
.dop2 {
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
  margin-right: 0.5rem;
}
header {
  background-color: #cbbc97;
  position: sticky;
  padding: 0.5rem;

}
footer {
  display: block;
  background-color: #323433;
  color: white;
  text-align: center;
  padding: 2.5% auto;
  flex-direction: column;
}
.logo {
  text-align: center;
}
.font {
  color: white;
  font-size: 60px;
}
a {
  text-decoration: none;
}
.main {
  margin-top: 8%;
}
.b1 {
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;

}
.b2 {
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  }
.btn-for {
  background-color: #81979b;
  color: white;
  border-radius: 35px;
  padding: 1.2rem 7rem;
  transition: 0.5s;
  font-weight: bold;
  border: none;
}
.btn-for:hover {
  background-color: #9dafb3;
  color: #FFEFDF;
  box-shadow: 7px 7px 7px #cccccc;
}
.pole {
  padding: 1.2rem 7rem;
  border-radius: 25px;
  border-color: #a9bcc2;
}
.foo {
  text-decoration: none;
  color: gray;
  transition: 0.3s;
}
.foo:hover {
  color: white;
}
.age {
  width: 70%
}
.radio {
  position: relative;
  left: 30%;
  top: -3.5rem;
  margin-bottom: none;
}
.joke {
  width: 30rem;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  margin-top: 5rem;
}
.doo {
  position: relative
  top:-2rem;
}
.slise {
  padding: 1.2rem 4rem;
  border-radius: 0 35px 35px 0;
}
.for-pol {
  padding: 1.1rem 2rem;
  border-radius: 35px 0 0 35px;
}
.b3 {
  position: relative;
  top: -4.94rem;
  left: 20rem;
}
.b4 {
  position: relative;
  left: 11.5rem;
  top: -4.5rem;
}