{% extends 'base.html' %}

{% block content %}
    <style>
        .list {
          margin-top: 3rem;
          width: 30%
          margin-left: auto;
          margin-right: auto;
        }
        .btns {
          display: block;
          position: relative;
          border: 1px solid gray;
          padding: 1rem 0;
          width: 10%
          margin-top: 0.5rem;
          font-weight: bold;
          font-size: 160%;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          font-weight: 700;
          color: #81979b;
        }
        .text {
          margin-top: 10rem;
          text-align: center;
          font-size: 200%;
          font-weight: 900;
          color: #323433;
        }
        .btn-for {
          position: relative;
          top: 12.5rem;
          left: 2rem;
          background-color: #81979b;
          color: white;
          border-radius: 35px;
          padding: 0.3rem 2rem;
          transition: 0.5s;
          font-weight: bold;
          border: none;
          text-decoration: none;
        }
        .btn-for:hover {
          background-color: #9dafb3;
          color: #FFEFDF;
          box-shadow: 7px 7px 7px #cccccc;
        }
    </style>
    <a href="/" class="btn-for">◄</a>
    <p class="text">ВСЕ ПРОФИЛИ</p>
    <ul class="list" style="list-style-type:none;">
    {% for x in spis %}
            <li><a href="/portfolio/{{ x.id }}" style="text-decoration:none;" class="btns btn">{{ x.name }}</a></li><br>
    {% endfor %}
    </ul>
{% endblock %}